@font-face {
    font-family: 'PhatoneRegular';
    src: url('font/phatone-regular-webfont.eot');
    src: url('font/phatone-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('font/phatone-regular-webfont.woff') format('woff'),
    url('font/phatone-regular-webfont.ttf') format('truetype'),
    url('font/phatone-regular-webfont.svg#PhatoneRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}
html, body {
    height: 100%;
}

body {
    font-family: PhatoneRegular;
    margin: 0px;
}
#stage {
    position: relative;
    float: left;
    height: 100%;
    width: 80%;
    border: 1px inset solid black;
}

#configure {
    position: relative;
    float: right;
    height: 100%;
    width: 20%;
    border: 1px inset solid black;
    display:none;
}